[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
graphql-core = "<3"
graphql-relay = "<3"
graphene-django = "<3"
jwcrypto = "*"

[dev-packages]
django-cors-headers = "*"
bump2version = "*"
coverage = {extras = ["toml"], version = "*"}
python-dotenv = "*"
ipython = "*"
factory-boy = "*"
sphinx-rtd-theme = "*"
dj-database-url = "*"
psycopg2-binary = "*"
