<!--
The request to this GraphQL server provided the header "Accept: text/html"
and as a result has been presented GraphiQL - an in-browser IDE for
exploring GraphQL.
If you wish to receive JSON, provide the header "Accept: application/json" or
add "&raw" to the end of the URL within a browser.
-->
{% load static i18n %}
{% get_current_language as LANGUAGE_CODE %}
<!DOCTYPE html>
<html lang="{{ LANGUAGE_CODE }}">
<head>
  <style>
      html, body, #editor {
          height: 100%;
          margin: 0;
          overflow: hidden;
          width: 100%;
      }
  </style>
  <link href="{% static 'graphiql/graphiql.min.css' %}" rel="stylesheet">
  <script src="{% static 'graphiql/fetch.umd.js' %}"></script>
  <script src="{% static 'graphiql/react.production.min.js' %}"></script>
  <script src="{% static 'graphiql/react-dom.production.min.js' %}"></script>
  <script src="{% static 'graphiql/graphiql.min.js' %}"></script>
  <script src="{% static 'graphiql/client.js' %}"></script>
  <title>GraphQL Exploration and Development Environment</title>
</head>
<body>
<div id="editor"></div>
{% csrf_token %}
<script 